<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319226529515-gpe6a40uhrv52auasem77ndhjqhsi6rh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319226529515-gpe6a40uhrv52auasem77ndhjqhsi6rh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>319226529515-277og17qitihf69mj2jcknb1p4hi3se6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtDm2jwmO7BCB0fOjGO2SeahhRD7rYaGs</string>
	<key>GCM_SENDER_ID</key>
	<string>319226529515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.shohowmyApp</string>
	<key>PROJECT_ID</key>
	<string>alshohomy-d9eeb</string>
	<key>STORAGE_BUCKET</key>
	<string>alshohomy-d9eeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319226529515:ios:aa89b2b20559f3cfb820ae</string>
</dict>
</plist>